page-government {

    font-family:'Times New Roman', Times, serif;

    .alignme{
        text-align: right;
    }

.my-checkbox {
    display: flex;
    align-items: center;
}
    .card {
        padding-top: 1px;
        padding-bottom: 1px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
        text-align: start;
        min-height: 150px;
        text-align: justify
    }

    .item-content { background-color: transparent !important; }

    .my-label {
        font-size: 1.2em;
    }
    
    .navButton{
        border-radius: 0px;
        color: map-get($colors, secondary );
        border-color: map-get($colors, secondarylight )
    }

}
