page-container {
    .indicator {
        // transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1, 1) !important;
        // transition: all 300ms cubic-bezier(0.35, 0, 0.25, 1) !important;
        background-color: yellow;
     }

     ion-footer {
        &.footer-md::before {
            background-image: none;
        }
    }
}
