<ion-header>
    <ion-navbar   color="primarydark">
     <ion-row wrap> <ion-title>Practice</ion-title>
        <timer #countdownTimer [timeInSeconds]="time"></timer>
        <button ion-button color="primarydark" icon-only (click)="presentPopover($event)">
          <ion-icon name="calculator"></ion-icon>
        </button>
      </ion-row>
      
    </ion-navbar>
  </ion-header>
<!-- <super-tab [root]="page1" title="First page"></super-tab> -->
<ion-content no-bounce>
    <super-tabs scrollTabs toolbarColor="primarytext" toolbarBackground="primarydark" indicatorColor="primarydark" >        
        <super-tab *ngFor="let title of selected" [root]="title +'Page'" [rootParams]='tab2Params' [title]='title'> </super-tab>
        
    </super-tabs>
</ion-content>
<ion-fab bottom left >
    <button (click)="previous()" ion-fab color="secondarylight"><ion-icon name="arrow-dropleft"></ion-icon></button>
</ion-fab>
<ion-fab bottom center >
    <button [class.hide]="hideSubmitButton"  (click)="submit()" ion-fab color="secondary"><ion-icon name="paper"></ion-icon></button>
</ion-fab>
<ion-fab bottom  center >
    <button  [class.hide]="!hideSubmitButton" (click)="review()" ion-fab color="secondary"><ion-icon name="refresh"></ion-icon></button>
</ion-fab>
<ion-fab bottom right >
    <button ion-fab color="secondarylight" (click)="next()"><ion-icon name="arrow-dropright"></ion-icon></button>
</ion-fab>
