
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>pinGen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label> Enter Pin </ion-label>
    <ion-input [(ngModel)]="pin.pinNumber" type="number" placeholder="Pin"></ion-input>
  </ion-item>
{{pin | json}}
<button ion-button block outline (click)="addPin(pin)" >ADD</button>
<button ion-button block outline (click)="goBack()" >Back</button>
</ion-content>
