<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
    </ion-navbar>
</ion-header>

<ion-content parallax-header no-bounce class="bg-modal" >
    <div class="header-image"></div>
    <div class="main-content" style="margin-bottom: 80px" text-wrap text-center>
        <div class="circular"></div>
        <h2>{{user.name}}</h2>
        <p>{{user.occupation}}</p>
        <p class="profile-description">{{user.description}}</p>
        <hr>
        <ion-list no-lines>
            <ion-item>
                <ion-icon name="mail" color="primary" item-start></ion-icon>
                <p>Email</p>
                <div style="font-size: 12px">
                {{user.email}}
                </div>
                <a  button ion-button href="mailto:{{user.email}}" color="primary" item-end medium>Mail<b></b> me</a>
            </ion-item>
        </ion-list>
        <h2>Get in touch</h2>
        <hr>
        <a href="https://linkedin.com/in/samuel-lawal-bb217ba9" button ion-button block color="linkedin" icon-start>
            <ion-icon name='logo-linkedin'></ion-icon>
            LinkedIn
        </a>
    </div>

</ion-content>
<ion-footer>
    <menupop></menupop>
  </ion-footer>