
<ion-header>
  <ion-navbar color = "secondarydark">
    <ion-title>PRODUCT ACTIVATION</ion-title>
    <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
  </ion-navbar>

</ion-header>

<ion-content>
    <div *ngIf="!activated">
           <div class="lock" ><ion-icon  ios="ios-lock" md="md-lock"></ion-icon></div>
           <ion-list>
                <ion-item>
                  <ion-label floating>Nickname:</ion-label>
                  <ion-input [(ngModel)]="nickname" type="text"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Email:</ion-label>
                  <ion-input [(ngModel)]="email" type="text"></ion-input>
                </ion-item>
        </ion-list>
        </div>

    <div class="lock" *ngIf="activated">
            <ion-icon  ios="ios-unlock" md="md-unlock"></ion-icon>
        </div>
    <ion-item *ngIf="!activated">
            <ion-input class="special" style="text-align: center" [(ngModel)]="enteredPin" type="number" placeholder="Enter Pin"></ion-input>
          </ion-item>
<div *ngFor='let pin of genPin$ | async'>
    <div *ngIf='pin.pinNumber == enteredPin'>
         <p *ngIf='pin.status == false' style="text-align: center">You have Entered a valid pin</p>
         <p *ngIf='pin.status != false' style="text-align: center">Pin Used</p>
    <div style="text-align: center">
        <button ion-button (click)='passData(pin)' [disabled]=pin.status>Activate Product</button>
        </div>
    </div>
</div>
<p *ngIf='enteredPin == ""' style="text-align: center"> Please Enter a Valid Pin </p>
<div style="text-align: center">
        <button *ngIf='activated' ion-button large outline>Product Activated</button>
        <button *ngIf='!activated' ion-button large outline>Product Not Activated</button>
        <menupop></menupop>
</div>
</ion-content>

   