page-activate {
    .head{
        text-align: center; 
        color: map-get($colors , primary)
    }
    .lock{
        margin-top: 10px;
        // margin-bottom: -30px;
        // padding-top: 5px;
        // padding-bottom: 5px;
        font-size: 100px; text-align: center; 
        color: map-get($colors, secondarylight)
    }
    ion-input {
        input {
            font-size: 20px; 
          text-align: center;
          /* IF YOU ALSO WANT TO PUSH PLACHEHOLDER TO THE RIGHT USE THE FOLLOWING, IF NOT JUST DELETE THE ::-webkit-input-placeholder*/
          ::-webkit-input-placeholder {
            text-align: center;
          }
        }
      }
    .displaykey{
        font-size: 30px; 
        align-self: center;
        text-align: center; 
        color: map-get($colors , primarydark)
    }
   .no-scroll .scroll-content{ overflow: hidden; }
}
