page-website {

    #myInput {
        width: calc(100% - 30px);
        border: 0;
        border-radius: 5;
        background: rgb(223, 223, 223);
        padding: 15px;
        margin: 10px;
       
    }

    
}
