<ion-header>
  <ion-navbar color="primarydark">
    <ion-title>Feedback</ion-title>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
      <ion-item>
          <ion-label color="primary"  stacked>Email:</ion-label>
          <ion-input type="email" [(ngModel)]="feedback.email" placeholder="Email Input"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Message Title:</ion-label>
            <ion-input type="text" [(ngModel)]="feedback.messageTitle" placeholder="Enter Title"></ion-input>
          </ion-item>

          <textarea #myInput id="myInput" rows="10" maxLength="500" (keyup)="resize()" [(ngModel)]="feedback.message"></textarea>
  </ion-list>
<div style="text-align: center">
  <button ion-button (click)="send(feedback)"  outline round> Send Message </button>
</div>
</ion-content>
<menupop></menupop>