
<ion-header >
  <ion-navbar color= "primarydark">
    <ion-title>{{uni}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
        <ion-label #select>Select Combinations</ion-label>
        <ion-select   [(ngModel)]="subjectSel"  multiple="true">
          <ion-option [value]=subjects.subject *ngFor= "let subjects of selectedUni">{{subjects.subject}}</ion-option>
        </ion-select>
      </ion-item>
 <br>
      <ion-item>
        <ion-label #select>Number of Questions per Subject</ion-label>
        <ion-select  [(ngModel)]="questionCount">
          <ion-option *ngFor= "let number of number">{{number}}</ion-option>
        </ion-select>
      </ion-item>
  <br>
      <ion-item>
        <ion-label #select >Mode</ion-label>
        <ion-select  [(ngModel)]="mode">
          <ion-option >Practice</ion-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-item>
          <ion-label #select >Shuffle Questions</ion-label>
          <ion-select [disabled]="!shuffles" [(ngModel)]="shuffleQus">
            <ion-option >On</ion-option>
            <ion-option >Off</ion-option>
          </ion-select>
        </ion-item>
      <br>
      <ion-item>
          <ion-label #select >Shuffle Answers</ion-label>
          <ion-select  [disabled]="!shuffles" [(ngModel)]="shuffleAns">
            <ion-option >On</ion-option>
            <ion-option >Off</ion-option>
          </ion-select>
        </ion-item>
        <br>
      <ion-item>
          <ion-label>Format  Hours:Minutes</ion-label>
          <ion-select [(ngModel)]="hours" >
            <ion-option value="0">00</ion-option>
            <ion-option value="1">01</ion-option>
            <ion-option value="2">02</ion-option>
            <ion-option value="3">03</ion-option>
            <ion-option value="4">04</ion-option>
            <ion-option value="5">05</ion-option>
            <ion-option value="6">06</ion-option>
            <ion-option value="7">07</ion-option>
            <ion-option value="8">08</ion-option>
            <ion-option value="9">09</ion-option>
            <ion-option value="10">10</ion-option>
            <ion-option value="11">11</ion-option>
            <ion-option value="12">12</ion-option>
          </ion-select>
         
          <ion-select [(ngModel)]="min">
            <ion-option value="0">00</ion-option>
            <ion-option value="1">01</ion-option>
            <ion-option value="2">02</ion-option>
            <ion-option value="3">03</ion-option>
            <ion-option value="4">04</ion-option>
            <ion-option value="5">05</ion-option>
            <ion-option value="6">06</ion-option>
            <ion-option value="7">07</ion-option>
            <ion-option value="08">08</ion-option>
            <ion-option value="09">09</ion-option>
            <ion-option value="10">10</ion-option>
            <ion-option value="11">11</ion-option>
            <ion-option value="12">12</ion-option>
            <ion-option value="13">13</ion-option>
            <ion-option value="14">14</ion-option>
            <ion-option value="15">15</ion-option>
            <ion-option value="16">16</ion-option>
            <ion-option value="17">17</ion-option>
            <ion-option value="18">18</ion-option>
            <ion-option value="19">19</ion-option>
            <ion-option value="20">20</ion-option>
            <ion-option value="21">21</ion-option>
            <ion-option value="22">22</ion-option>
            <ion-option value="23">23</ion-option>
            <ion-option value="24">24</ion-option>
            <ion-option value="25">25</ion-option>
            <ion-option value="26">26</ion-option>
            <ion-option value="27">27</ion-option>
            <ion-option value="28">28</ion-option>
            <ion-option value="29">29</ion-option>
            <ion-option value="30">30</ion-option>
            <ion-option value="31">31</ion-option>
            <ion-option value="32">32</ion-option>
            <ion-option value="33">33</ion-option>
            <ion-option value="34">34</ion-option>
            <ion-option value="35">35</ion-option>
            <ion-option value="36">36</ion-option>
            <ion-option value="37">37</ion-option>
            <ion-option value="38">38</ion-option>
            <ion-option value="39">39</ion-option>
            <ion-option value="40">40</ion-option>
            <ion-option value="41">41</ion-option>
            <ion-option value="42">42</ion-option>
            <ion-option value="43">43</ion-option>
            <ion-option value="44">44</ion-option>
            <ion-option value="45">45</ion-option>
            <ion-option value="46">46</ion-option>
            <ion-option value="47">47</ion-option>
            <ion-option value="48">48</ion-option>
            <ion-option value="50">50</ion-option>
            <ion-option value="51">51</ion-option>
            <ion-option value="52">52</ion-option>
            <ion-option value="53">53</ion-option>
            <ion-option value="54">54</ion-option>
            <ion-option value="55">55</ion-option>
            <ion-option value="56">56</ion-option>
            <ion-option value="57">57</ion-option>
            <ion-option value="58">58</ion-option>
            <ion-option value="59">59</ion-option>
            <ion-option value="60">60</ion-option>
          </ion-select>
        </ion-item>
    </ion-list>
    
<div style="text-align: center;">
    <button ion-button round color="secondarylight" (click)= pushContainer()> Start </button>
</div>

</ion-content>
