<ion-header>
  <ion-navbar color='primarydark'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Theming</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h3>Set Theme</h3>
  <button class="pop-in" ion-button (click)="changeTheme('')">Default</button>
  <button class="pop-in" ion-button color="dark" (click)="changeTheme('theme-dark')">Dark</button>
</ion-content>
