<div class="popup-menu">
  <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}" (click)="togglePopupMenu()"></div>
  <div class="popup-menu-toggle" (click)="togglePopupMenu()" [ngClass]="{'out': openMenu}"></div>
  <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
    <div class="popup-menu-item" (click)="goToHome()">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-badge>25</ion-badge> -->
      <span>HOME</span>
    </div>
    <div class="popup-menu-item" (click)="goToBlog()">
      <ion-icon name="mail"></ion-icon>
      <span>Feedback</span>
    </div>
    <div class="popup-menu-item" (click)="goToContact()">
      <ion-icon name="information-circle"></ion-icon>
      <span>About Us</span>
    </div>
    <div class="popup-menu-item" (click)="goToActivate()">
      <ion-icon name="key"></ion-icon>
      <!-- <ion-badge>10</ion-badge> -->
      <span>Enter Pin</span>
    </div>
    <div class="popup-menu-item" (click)="goToProfile()">
      <ion-icon name="person"></ion-icon>
      <!-- <ion-badge>5</ion-badge> -->
      <span>Developer's Profile</span>
    </div>
    <div class="popup-menu-item" (click)="activate()">
      <ion-icon name="cart"></ion-icon>
      <!-- <ion-badge>25</ion-badge> -->
      <span>Purchase Pin</span>
    </div>
  </div>
</div>