<div *ngIf="showSplash" class="splash">
  <div class="cube1"></div>
  <div class="cube2"></div>
</div>


<div class="{{global.state['theme']}}">
    <ion-menu [content]="content" id="menu-material">
        <ion-content>
          <div class="menu-header">

            <!--material-design-background-->
            <img class="user-avatar round" [src]="chosenPicture || placeholder" onerror="this.src='assets/img/avatar/icon.png'"/>
            <p class="name">{{nickname}}</p>
            <p class="e-mail">{{email}}</p>
          </div>
          <ion-list no-border no-lines>
            <button menuClose="left" ion-item detail-none *ngFor="let p of navs" (click)="openPage(p)">
            <ion-icon [name]="p.icon" item-left></ion-icon>
            {{p.title}}
          </button>

          <ion-list-header>
              ACTIVATION
            </ion-list-header>
            <button menuClose="left" ion-item detail-none *ngFor="let p of active" (click)="open(p)">
            <ion-icon [name]="p.icon" item-left></ion-icon>
            {{p.title}}
          </button>

          <ion-list-header>
              CONTACT
            </ion-list-header>
            <button menuClose="left" ion-item detail-none *ngFor="let p of contact" (click)="openPage(p)">
            <ion-icon [name]="p.icon" item-left></ion-icon>
            {{p.title}}
          </button>

          <ion-list-header>
              SETTINGS
            </ion-list-header>
            <button menuClose="left" ion-item detail-none *ngFor="let p of settings" (click)="openPage(p)">
            <ion-icon [name]="p.icon" item-left></ion-icon>
            {{p.title}}
          </button>


          </ion-list>
        </ion-content>
      </ion-menu>
    <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
  </div>
  



<!-- <ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color = "primarydark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>

    
  </ion-content>

</ion-menu> -->

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<!-- <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->