<ion-header>
  <ion-navbar color="primarydark">
    <ion-title>IMPACT (Post UTME)</ion-title>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <motivation></motivation>
  <ion-card class="card" style="margin-bottom: 70px" (click)="selectUni()">
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Graduation_cap.png">
      </ion-avatar>
      <h2>TAKE POST UTME PRACTICE</h2>
      <p>updated for 2018</p>
    </ion-item>
    <img src="assets/imgs/postutme1.jpg">
    <ion-card-content>
      <p> Over 10,000 Questions to get you ready for your Examination</p>
    </ion-card-content>
    <ion-row>
      <button color="secondary" ion-button full>Start Practice</button>
    </ion-row>
  </ion-card>
  <!-- <ion-card (click)="blog()">
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/Graduation_cap.png">
      </ion-avatar>
      <h2>Post Utme Blog</h2>
      <p>(IMPACTnaija)</p>
    </ion-item>
    <img src="assets/imgs/news.jpg">
    <ion-card-content>
      <p>Get UP-TO-DATE Information on The University of your Choice </p>
    </ion-card-content>
    <ion-row>
      <button color="secondary" ion-button full>Enter Info Blog </button>
    </ion-row>
  </ion-card> -->
</ion-content>
<ion-footer>
  <menupop></menupop>
</ion-footer>