<ion-header>
  <ion-navbar color="secondarylight">
    <ion-title>Purchase</ion-title>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>
<ion-content >
<ion-grid>
  <ion-row>
    <ion-col>
          <ion-card>
              <ion-card-header>
                <b>Through: RECHARGE CARD</b>
              </ion-card-header>
              <ion-card-content>
                  <ion-list>
                      <p><b>NOTE:-</b> Payment through Recharge Card is N1,100.00. The Activation 
                        Pin will be sent to the phone-number provided on successful verification of card 
                        detail. This usually take approximately 10 mins.<b> Thank you</b> </p>
                      <ion-item>
                        <ion-label>CARD TYPE</ion-label>
                        <ion-select [(ngModel)]="cardTypes">
                          <ion-option value="onecard" (ionSelect)='true'>ONECARD</ion-option>
                          <ion-option value="mtn">MTN</ion-option>
                          <ion-option value="glo">GLO</ion-option>
                          <ion-option value="9mobile">9-MOBILE</ion-option>
                          <ion-option value="airtel">AIRTEL</ion-option>
                        </ion-select>
                      </ion-item>
                    </ion-list>
                  <ion-list>
                      <ion-item>
                        <ion-label floating>Enter Card Pin</ion-label>
                        <ion-input [(ngModel)]="pin" type="number"></ion-input>
                      </ion-item>
                      <br>
                      <ion-item>
                        <ion-label floating>Phone Number</ion-label>
                        <ion-input [(ngModel)]="phoneNumber" type="number"></ion-input>
                      </ion-item>
                      <br>
                    </ion-list>
              </ion-card-content>
              <div style="text-align: center">
                  <button  ion-button (click)="sendSMS()" color='secondarylight' large >SEND SMS</button>
                </div>
            </ion-card>
    </ion-col>
  </ion-row>
  <ion-row style="margin-bottom: 80px">
      <ion-col>
          <ion-card>
              <ion-card-header>
                <b style="text-align: center">Through: Bank/Cash Deposite </b>
              </ion-card-header>
              <ion-card-content>
                  <div style="font-size: 25px">
                      <p>Make a deposite/transfer of N1,000.00 into the folowing account</p>
                      <hr>
                      <p><b>Bank Name:</b>Guaranty Trust Bank</p>
                      <p><b>Account Name:</b> WOLE CONSULT LIMITED</p>
                      <p><b>Account No:</b> 0268770184 </p>
                      <hr>
                      <p> Send evidence of <b><i>payment</i></b> via:</p>
                      <p><b> Via WhatsApp:</b> 08141159951</p>
                      <p><b> Via Mail:</b> info@impactnaija.com </p>
                      <hr>
                      <p>Payment will be confirmed immediately. This will take approximately 10 mins </p>
                  </div>
              </ion-card-content>
          </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
  <menupop></menupop>
</ion-footer>