<ion-content>
  <div style="margin-bottom: 70px">
          <div>
          <h2 style="text-align: center" padding-bottom>Question {{Number}}</h2>
          <ion-card no-shadow padding style="background-color: rgba(255, 255, 255, 0.342)">
            <b>{{instruction}}</b>
              <h2 style="font-size: 17px">{{question}}<u>{{underlined}}</u>{{continued}}</h2>
          <ion-list  padding-top  no-lines radio-group >
              <ion-item  class="item-content" *ngFor="let answer of options; let i = index;" text-wrap>
                <ion-radio item-left [checked]="answer.selected" (click)="selectAnswer(question, answer, i, index)"></ion-radio>    
                <ion-label><p class="my-label">{{answer.answer}}</p></ion-label>
                <ion-label class="alignme" *ngIf='hasSubmitted && answer.correct' color='markingcolor' [class.hide]="!answer.correct" ><ion-icon color="markingcolor" name="checkmark"></ion-icon></ion-label>       
                <ion-label class="alignme" *ngIf='hasSubmitted' color='markingcolor' [class.hide]="!answer.selected || answer.correct && answer.selected" ><ion-icon color="secondarylight" name="close"></ion-icon></ion-label>
              </ion-item>
            </ion-list> 
          </ion-card>
        </div>
        <ion-card justify-content  no-shadow padding style="background-color: rgba(255, 255, 255, 0.342)">
          <ion-row justify-content-start>
            <button style="width: 10%" #index [color]="number.hasAnswered ? 'secondarylight' : 'white'" [color]="number.hasAnswered ? 'secondarylight' : 'secondarylight'" [outline]="!number.hasAnswered" (click)="nextSlide(i)" class="navButton" *ngFor="let number of questions; let i = index" ion-button outline >{{i+1}}</button>
        </ion-row>
      </ion-card>
   </div>
  </ion-content > 