page-contact-us {
    .element {  
        float: left;
        shape-outside: circle(55%);
      }
      .element2 {  
        float: right;
        padding: 5px;
        padding-bottom: 0px;
        shape-outside: circle(50%);
      }
    }