<ion-header>
  <ion-navbar color='primarydark'>
    <ion-title>About ImpactNaija</ion-title>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-card style="margin-bottom: 80px">
        
        <ion-card-content >
          <ion-card-title>
            IMPACT POST UTME (2018)
            </ion-card-title>
           
          <p style="font-size: 15px; text-align: justify">
              <img class="element" style="min-height: 50px; max-width:100px " src="assets/img/avatar/icon.png"/>
            ImpactNaija App is a value dense blueprint Computer Based Testing and Learning Appliation that enables 
            candidates sitting for examinations such as Post Unified Tertiary Matriculation Examination (UTME) to practise
            past questions of their prospective higher institution.

              <ion-row class="element2">
              <ion-col col-12>
                  <img  style="max-height: 150px; max-width:130px " src="assets/img/avatar/p.jpg"/>
                  <div style="text-align: center">
                    <b>Olaniyan Taiwo</b> <br>
                    <b>Pioneer ImpactNaija </b>
                  </div>
                </ion-col>
               </ion-row>  
               <br>
               <br>
            ImpactNaija App is a vertual examination practise which helps to show your real ability behind
            the scence.
            <br>
            <br>
          <p>
            ImpactNaija App helps you to beat the best and be the best in your Post UTME examination.
          </p>
        </ion-card-content>
        <ion-list no-lines>
            <ion-item style="font-size: 15px">
                <ion-icon name="mail" color="primary" item-start></ion-icon>
                <p>Email</p>
                 impactnaija@gmail.com
                <a button ion-button href="mailto:impactnaija@gmail.com" color="primary" item-end medium>Mail</a>
            </ion-item>
            <ion-item style="font-size: 15px">
                <ion-icon item-start name="call" color="danger"></ion-icon>
                <p>Mobile</p>
                +234 814 115 9951
                <a button ion-button href="tel:+234 814 115 9951" color="danger" item-end medium>Call Us</a>
            </ion-item>
            <ion-item>
                <ion-icon name="globe" color="primary" item-start></ion-icon>
                <p>Website</p>
                <p style="font-size: 15px">www.impactnaija.com<p>
                <!-- <a button ion-button href="mailto:impactnaija@gmail.com" color="primary" item-end medium>Open App</a> -->
            </ion-item>
        </ion-list>
      </ion-card>

</ion-content>
<ion-footer>
  <menupop></menupop>
</ion-footer>
