<ion-header>

  <ion-navbar color="primarydark">
    <ion-title>Smart Blog</ion-title>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>

</ion-header>

<ion-content padding>

</ion-content>
<ion-footer>
  <menupop></menupop>
</ion-footer>