<ion-header>

  <ion-navbar color="primarydark">
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Select University</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding-top>
    <ion-list>
        <ion-item *ngFor="let uni of university" text-wrap (click)="pushPage(uni)" >
          <ion-avatar item-start>
            <img [src]= 'uni.logo'>
          </ion-avatar>
          <h2>{{uni.name | uppercase}}</h2>
          <p>({{uni.groups | uppercase}})</p>
          <button ion-button clear item-end>{{uni.count}} <br> questions</button>
        </ion-item>
      </ion-list>
</ion-content>
