<ion-header>
  <ion-navbar color='primarydark'>
    <ion-title style="text-align:center">RESULT</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h1 style="text-align: center">Total Score: {{totalScore}}</h1>
  <!-- <h1 style="text-align: center">Total Number of Question {{total}}</h1> -->
  <h5 style="text-align: center"> Percentage: {{percentage}}%</h5>
  <ion-grid>
    <div style="text-align: center">
      <h5>Result Breakdown</h5>
    </div>
    <ion-row class="header">
      <ion-col>
        <b> Subject </b>
      </ion-col>
      <ion-col>
        <b> Score </b>
      </ion-col>
      <ion-col>
        <b> Attempted </b>
      </ion-col>
    </ion-row>
    <ion-row *ngFor='let subject of getAllScores'>
      <ion-col style="background: lightblue">
        <b> {{subject.name}} </b>
      </ion-col>
      <ion-col style="background: rgb(252, 246, 165)">
        {{subject.score}} out of {{questionperSub}}
      </ion-col>
      <ion-col style="background: rgb(174, 233, 150)">
          {{subject.attempted}} out of {{questionperSub}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-header style="text-align: center">
      Pie Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #pieCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <div no-padding style="text-align: center">
    <button ion-button round (click)="closeModal()">View Correction</button>
  </div>
  <br>
  <div color="primaryLight" no-padding style="text-align: center; margin-top: -15px;">
    <button color="secondary" ion-button round (click)="restart()">Close</button>
  </div>
</ion-content>