page-result-modal {

    .scroll-content {
        background-color: map-get($colors, light);
    }

    ion-card-header {
        font-weight: bold;
    }

    // .datatable-header {
    //     background: rgba(164, 192, 214,1);
    //     padding: 1em 0 0 1em;
    //  }
  
    //  .datatable-header-cell {
    //     font-size: 1.2em;
    //     font-weight: bold;
    //  }
  
    //  .datatable-body-row {
    //     padding: 0;
    //  }
  
    //  .datatable-row-even {
    //     background: rgba(240, 240, 240, 1);
    //  }
  
    //  .datatable-row-odd {
    //     background: rgba(255, 255, 255,1);
    //  }
  
    //  .datatable-body-cell {
    //     font-size: 1.2em;
    //     padding: 1em;
    //  }
  
  
    //  // Style footer appearance
    //  .datatable-footer {
    //     background: rgba(218, 226, 234,1);
    //     padding: 0 1em 0 1em;
  
    //     .pager {
    //        li {
    //             padding: 0 1em !important;
  
    //             a {
    //                color: rgba(68, 68, 68, 1);
    //                text-decoration: none;
    //             }
    //          }
    //     }
    // }





    body {
        cursor: url('http://ionicframework.com/img/finger.png'), auto;
    }
    
    .header .col {
        background-color: map-get($colors, secondarylight);
        color: white;
        border: solid 0px white;
      
    }
    
    .col {
        // border-top: solid 1px grey;
        // border-bottom-style: none;
        border-right-style: none;
        text-align: center

    }
    
    // .col:last-child {
    //     border-right: solid 0px grey;
    // }
    
    .row:first-child .col {
    //    border-top: solid 1px grey;
        border-bottom: solid 1px grey;
    }

}
