<ion-card style="min-height: 150px">
  <ion-slides  autoplay="5000" loop="true" style="max-height: 100px" loop="true" effect= 'fade'>
      <ion-slide style="min-height: 200px" *ngFor="let slide of slides; let i = index" [ngStyle]="{'background' : 'url(' + slide.imageUrl + ')', 'imagesize': ''}">
        <h2 style="color: white; font-size: 25px; padding: 15px"><strong>{{slide.title}}</strong></h2>
      </ion-slide>
    </ion-slides>
</ion-card>