<ion-content>
  <div>
<ion-slides #slides>

		<ion-slide class="start-slide">
			<button ion-button color="primary" (click)="nextSlide()">Start!</button>
		</ion-slide>

		<ion-slide *ngFor="let question of questions; let i = index;">

			<h3>Question {{i+1}}</h3>

			<h3>{{question.questionText}}</h3>

			<ion-list no-lines radio-group>

				<ion-item *ngFor="let answer of question.answers; let i = index;">

					<ion-label>{{i+1}}. {{answer.answer}}</ion-label>
					<ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered"></ion-radio>

				</ion-item>

			</ion-list>

		</ion-slide>

		<ion-slide>
			<h2>Final Score: {{score}}</h2>

			<button (click)="restartQuiz()" ion-button full color="primary">Start Again</button>

		</ion-slide>

  </ion-slides>
</div>
</ion-content>