.ios, .md {
 
    page-questview {
        .SwipedTabs-indicatorSegment
        {
            -webkit-transition: 0.3s all;
            -moz-transition:  0.3s all;
            -o-transition:  0.3s all;
            transition:  0.3s all;
            transform-origin: top 0 left 0;
            height: 1px;
            position: relative;
            top: -2px;
            background-color: black !important;
        }
        .SwipedTabs-tabs ion-segment-button
        {
            border:none !important;
            color:gray!important;
            background-color:blue important;
        }
         .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab
        {
            color:black !important;
        }
        .SwipedTabs-tabs
        {
            border-bottom: solid 1px #e6e6e6  !important;
        }
        
        .card {
           
            background: rgb(247, 242, 242);
            box-shadow: 0 1px 3px white}

        .flexcontainer {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
         }

        ion-slide {
            align-items: flex-start;
        }
 
        // ion-item {
        //     margin-bottom: 5px;
        //     font-size: 1.2em;
        //     background-color: map-get($colors, primary);
        // }
 
        flash-card {
            color: #000;
 
            img {
                width: 70%;
                height: auto;
            }
        }
 
        .start-slide {
            justify-content: center;
            align-items: center;
 
            button {
                font-size: 1.3em;
                font-weight: bold;
            }
        }
 
    }
 
}