<!--
  Generated template for the TestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button (click)="getmyQuestions()">Get Data</button>
  <button ion-button (click)="getmyAnswers()">Get Data</button>

</ion-content>
